@font-face {
    src: url("./font/digital-7/digital-7.ttf");
    font-family: timer;
}

@font-face {
    src: url("./font/enhanced-led-board-7/enhanced_led_board-7.ttf");
    font-family: scoreboard-text;
}



body {
    margin: 0px;
    text-align: center;
    height: 800px;
    font-family: scoreboard-text;
    text-align: center;
    background: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("./images/court.jpg");
    background-position: center;
    background-size: cover;
}

h1 {
    margin: 0px;
}




.team-score-container {
    display: flex;
    justify-content: center;
}

.team-score {
    height: 150px;
    width: 220px;
    margin: auto 10px;
    border-radius: 20px;
    border: 2px solid white;
    background-color: black;
    font-size: 100px;
    text-align: center;
    font-family: scoreboard-text;
    /* padding: 0px 0px 10px 10px; */
}

.team-title{
    font-family: scoreboard-text;
    font-size: 50px;
    text-shadow: 0px 0px 1px black;
}

.btn-pts-container {
    display: flex;
    flex-direction: column;
}

.team-container {
    width: 400px;
    margin: 0px auto;
}

.sb-container {
    display: flex;
    justify-content: center;
    margin: 80px 50px 25px 50px;
}

.home-color {
    color: #008000;
}

.away-color {
    color: #f9a620;
}



.time-container {
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 0px 0px;
    font-size: 75px;

}

.time-block {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 70px;
    margin: 0px;

    border: 2px solid white;
    border-radius: 20px;
    background-color: black;
}

#time-block-left {
    margin: 0px;
}

.time-element {
    /* padding: 0px 0px 10px 10px; */
}

.no-blink {
    color: #ec2c1e;
}

.blink {
    color: white;
}

.column-block {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10px;
    width: 20px;
    margin: 0px 0px 0px 0px;
    color: #ec2c1e;
    text-shadow: 0px 0px 2px black;
    /* padding: 0px 0px 10px 10px; */
}








.btn {
    border-radius: 10px;
    font-family: scoreboard-text;
    text-align: center;
    
}

.btn-timer {
    font-size: 30px;
    width: 75px;
    height: 60px;
    color: white;
    margin: 0px;
    /* padding: 0px 0px 10px 4px; */
}

.btn-pts {
    font-size: 30px;
    width: 75px;
    height: 60px;
    color: white;
    margin: 3px 5px 3px 3px;
    /* padding: 0px 0px 10px 4px; */
}

.btn-pause {
    font-size: 30px;
    width: 200px;
    height: 60px;
    color: white;
    margin: 0px;
    /* padding: 2px 0px 8px 8px; */
}


.btn:hover {
    border: 3px solid #ffffff;
}

.default {
    background-color: #457b9d;
    border: 3px solid #1d3557;
}

.clicked {
    background-color: #023047;
    border: 3px solid #ffffff;
}







